.button {
  font-family: Ruda;
  font-weight: bold;
  font-size: 24px;
  min-width: 186px;
  padding: 7px 5px;
  color: #ffffff;
  background-color: #2b3a67;
  border: 1px solid #496a81;
  border-radius: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 50px;
  margin: 20px
}

.button__white {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #2b3a67;
  background-color: #ffffff;
  padding: 7px 5px;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #496a81;
}

.button__white:hover,
.button__white:active {
  background-color: #aaaaaa;
}
