

/* .popup {
  background-color: #ccc;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2B3A67;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #ccc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.popup_content {
  width: 45%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  padding: 1%;
  margin-top: 20px;
  padding-top: 3%;
  max-height: 100%;
}

.popup_header {
  display: flex;
  align-items: center;
  padding-bottom: 5%;
  justify-content: space-around
}

.popup_header h3 {
  font-family: Roboto, sans-serif;
  font-size: 64px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.toggle-wrapper p {
  font-family: Ruda, sans-serif;
  font-size: 24px;
  padding-right: 15px;
}

.group {
  margin: 10px;
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.group label {
  padding-left: 10px;

}

.group input[type="text"] {
  margin-top: 10px;
  height: 47px;
  width: 467px;
  background: #FFFFFF;
  border: 1px solid #2B3A67;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 0px 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.group-input {
  display: block;
}

.form-validation {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #FF0000;
  position: absolute;
  top: 50%;
  left: 60%;

}


/*image*/

.group.file {
  display: flex;
  padding-left: 0;
  margin-left: 0;
}

label .group-input {
  padding-left: 0;
}

.group.file button {
  height: 47px;
}

.group-input.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file {
  display: inline-block;
  width: 276px;
  height: 47px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 0px 10px;

  line-height: 47px;
  text-align: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: #60DABF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*если текст а не картинка
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
*/
.form-buttons {
  display: flex;
  justify-content: space-between;
  padding: 85px 15px 15px;
}

.button.button-blue,
.button.button-white {
  width: 189px;
  height: 53px;
  font-family: Ruda;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
    border: 1px solid #496A81;
  border-radius: 3px;
}

.button.button-blue {
  color: #FFFFFF;
}

.button.button-white {
  height: 60px;
  background-color: #FFFFFF;
  color: #2B3A67;
}


/*popup*/
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
 
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

/* @media (max-width: 1200px ) {
  .wrapper {
    max-width: 900px;
  }
}

@media (max-width: 992px ) {
  .wrapper {
    max-width: 750px;
  }
}

@media (max-width: 500px ) {
  .wrapper {
    max-width: 480px;
  }
} */