
.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cover.hidden {
  display: none;
}

.popup {
  background-color: #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2B3A67;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #ccc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.popup_content {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5%;
  padding-top: 6%;
}

.popup_header {
  display: flex;
  align-items: center;
  padding-bottom: 8%;
  justify-content: space-between
}

.popup_header h3 {
  font-family: Roboto, sans-serif;
  font-size: 64px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.toggle-wrapper p {
  font-family: Ruda, sans-serif;
  font-size: 24px;
  padding-right: 15px;
}

.group {
  margin: 10px;
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.group label {
  padding-left: 10px;

}

.group input[type="text"] {
  margin-top: 10px;
  height: 47px;
  width: 467px;
  background: #FFFFFF;
  border: 1px solid #2B3A67;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 0px 10px;
}

.group-input {
  display: block;

}