.members {
  width: 100%;
}

.members__title {
  text-transform: capitalize;
  text-align: center;
}

.members__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

/* .column__list {
  display: grid;
  grid-template-columns: 1fr ;
} */



.wrapper {
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1330px) {
  .wrapper {
    max-width: 1020px;
  }
}

@media screen and (max-width: 1030px) {
  .wrapper {
    max-width: 800px;
  }

  .members__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 830px) {
  .wrapper {
    max-width: 450px;
  }

  .members__list {
    grid-template-columns: 1fr;
  }
}
