.member__card {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: start;
  gap: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 7px 10px;
  max-width: 300px;
  min-width: 275px;
}

.member__name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
}

.member__position {
  font-size: 10px;
  line-height: 12px;
}

.member__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.yourself__marker {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.column__list .member__card {
  width: 200px;
  height: 50px;
  justify-content: start;
}

.column__list .member__name {
  font-size: 18px;
  line-height: 20px;
}

.column__list .member__avatar {
  width: 40px;
  height: 40px;
}

.column__list .without-avatar {
  font-size: 24px;
}